<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
Страница входа

<div>
    <a href="/registration">Registration</a>
</div>

<div th:if="${param.logout}">
    Вы вышли из аккаунта.
</div>

<div th:if="${param.error}">
    <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
</div>

<form th:action="@{/login}" method="post">
    <div><label> Введите логин: <input type="text" name="username"/> </label></div>
    <div><label> Введите пароль: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Войти"/></div>
</form>

</body>
</html>



